{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div style="padding: 50px; text-align: center;">
    <h1 style="font-size: 50px;color: #4b3832;">جمعنا أحلى ما في الدنيا ليكون جزء من يومك.</h1>
    <div style="background: #f5ebe0; display: inline-block; padding: 75px; border-radius: 15px;">
        <h1 style=" color: #3e2723; max-width: 600px; margin: auto; line-height: 1.8;">
أكبر متجر سعودي يجمع القهوة المختصة المحلية والعالمية، مجموعة متنوعة من الحبوب والنكهات الغنية لتحسين كل رشفة,
لتجمع ما بين عبق التقاليد وأحدث فنون التقطير والتحميص.
        </h1>
        <br>
        <br>
        <h1 style=" color: #3e2723; max-width: 600px; margin: auto; line-height: 1.8;">
كيكة الجزر الدافية تنتظرك مع قهوتك، الكرواسون اللوزي يتفتت بكل قضمة، والكوكيز الطري يُكمل لحظتك. تشيز كيك التوت البارد يُوازن حرارة الفنجان، وبراونيز الشوكولاتة الغني يُغمّرك بنكهة لا تُنسى.
قهوة تُوقظك، وحلوى تُحضنك.
كل يوم، من جديد.
        </h1>>
    </div>
</div>
{% endblock %}